<!DOCTYPE html>
<html>
<head>
	<title>chatbot-api</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		var ws;
		function onload(){
			ws = new WebSocket("ws://localhost:8080/ws");
			var $state = $('#state');
			var $reply = $('#reply');
			// $state.hide();
			// $reply.hide();

			ws.onopen = function(){
				// $state.show()
				console.log('connection open');
				
			}

			ws.onmessage = function(event){
				// $('#reply').show();
				$('#reply').text(event.data);
			}
		}
		function sendmsg(){
			ws.send(document.getElementById('msg').value);
		}
	</script>
</head>
<body onload="onload();">
	<strong>Message to be sent</strong><input type="text" name="msg" id="msg" onkeypress="sendmsg();">
	
		<p id="reply"></p>
		<br><br>
	&nbsp;<!-- <input type="button" onclick="sendmsg();" value="Send" /> -->	

</body>
</html>